/** IMPORTS **/

@import url('https://fonts.googleapis.com/css?family=Staatliches');

/** SIDEBAR NAVIGATION **/

.sidenav	{
	height: 100%;
	width: 20%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: hsla(0, 0%, 5%, 1);
	overflow-x: hidden;
	padding-top: 5%;
}

.sidenav img	{
	border-radius: 5%;
	border-color: rgba(125, 95, 60, 0.5);
	height: 25%;
	width: 58%;
	object-fit: cover;
	margin: 0 20% 10%;
	filter: none;
}

.sidenav a {
	text-transform: uppercase;
	padding: 5% 25%;
	font-size: 1em;
	color: orange;
	text-align: center;
	display: block;
	transition: all 0.25s;
}

.sidenav a:hover	{
	background-color: orange;
	letter-spacing: 0.3em;
	font-size: 1.1em;
	text-align: center;
}

/** MAIN **/

.main	{
	margin-left: 25%;
	padding: auto;
}

/** TAGS **/

body	{
	/*
	background-image: url("https://c1.staticflickr.com/5/4749/40055803762_a20462435a_h.jpg");
	background-attachment: fixed;
	background-size: cover;
	*/

	background-color: hsla(0, 0%, 15%, 1);
	font-family: 'Staatliches', cursive;;	/* please change this sometime */
	color:#666699;
}

h2	{
	text-align:center;
	font-family:candara;
	color:orange;
}

a:link, a:active, a:visited	{
	color: orange /* #01EAFF */;
	text-shadow: 0 0 8px orange /* #01EAFF */;
	text-decoration: none;
}

img {
	height: 75vh;
	border-radius: 10px;
	opacity: 0.75;
	filter: blur(2px);	/* learn how to animate this trasition */
}

img:hover	{
	opacity: 0.85;
	transition:
}

a:hover	{
	color: black /* #FF9600 */;
	text-shadow: 0 0 3px black /* #FF9600 */;
	text-decoration: none;
}
