/** IMPORTS **/

@import url('https://fonts.googleapis.com/css?family=Staatliches|Abel|IM+Fell+English+SC');

/** TAGS **/

html {
	scroll-behavior: smooth;
}

body	{
	/*
	background-image: url("https://c1.staticflickr.com/5/4749/40055803762_a20462435a_h.jpg");
	background-attachment: fixed;
	background-size: cover;
	*/

	color:#666699;
	background-color: hsla(0, 0%, 15%, 1);
	font-family: 'Abel', cursive;
}

h1, h2, h3, h4, h5, h6	{
	text-align:center;
	color: orange /* #101010 */;
	font-family: 'IM Fell English SC', cursive;
}

a:link, a:active, a:visited	{
	color: orange /* #01EAFF */;
	text-shadow: 0 0 8px orange /* #01EAFF */;
	text-decoration: none;
	font-family: 'Staatliches', cursive;
	transition: all 0.25s;
}

a:hover	{
	color: black /* #FF9600 */;
	text-shadow: 0 0 3px black /* #FF9600 */;
	text-decoration: none;
	transition: all 0.25s;
}

img {    
	/*display: block;
    margin: 0 auto;*/
	height: 45vh;
	border-radius: 10px;
	opacity: 0.75;
	object-fit: cover;
	filter: blur(1px);	/* animate this transition */
	transition: all 0.25s;
	transition-timing-function: all ease-in-out;
}

img:hover	{
	opacity: 0.85;
	filter: none;
	transform: scale(1.1);
}

/** SIDEBAR NAVIGATION **/

.sidenav	{
	height: 100%;
	width: 12em;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	padding: auto;
	background-color: hsla(0, 0%, 5%, 1);
	overflow-x: hidden;
	padding-top: 20vh;
}

.sidenav img	{
	border-radius: 5%;
	border-color: rgba(125, 95, 60, 0.5);
	height: 120px;
	width: 60%;
	object-fit: cover;
	margin: 0 20% 10%;
	filter: none;
}

/* SIDEBAR LINKS */

.sidenav a:not(#profile) {
	text-transform: uppercase;
	padding: 5% 25%;
	font-size: 1em;
	color: orange;
	text-align: center;
	display: block;
	transition: all 0.25s;
}

.sidenav a:hover:not(#profile)	{
	color: black;
	background-color: orange;
	letter-spacing: 0.3em;
	font-size: 1.1em;
	text-align: center;
}

/** SECTIONS **/

.main	{
	padding-left: 13em;
	padding-top: 1em;
	padding-right: 1em;
	height: 100vh; /* very limiting */
	overflow: hidden;
	scroll-behavior: smooth;
}

/** GALLERY **/

.gallery 	{

}

.gallery img	{
	
}