/** IMPORTS **/

@import url('https://fonts.googleapis.com/css?family=Staatliches|Abel|Economica|Montserrat');

/** TAGS **/

html {
	scroll-behavior: smooth;
}

body	{
	color:orange;
	background-color: hsla(0, 0%, 15%, 1);
	font-family: 'Montserrat', sans-serif;
}

h1	{
	font-size:64px;
	color:#FFF;
	font-family: 'Staatliches', cursive;
}

h2	{
	font-size:42px;
	color:#FFF;
	font-family: 'Staatliches', cursive;
}

h3, h4, h5, h6	{
	text-transform: uppercase;
	font-size:42px;
	color:black;
	font-family: 'Economica', cursive;
	font-weight: bold;
	margin-left: -1em;
}

a:link, a:active, a:visited	{
	color: orange /* #01EAFF */;
	text-shadow: 0 0 8px orange /* #01EAFF */;
	text-decoration: none;
	font-family: 'Staatliches', cursive;
	transition: all 0.25s;
}

a:hover	{
	color: black /* #FF9600 */;
	text-shadow: 0 0 3px black /* #FF9600 */;
	text-decoration: none;
	transition: all 0.25s;
}

img {    
	/*display: block;
    margin: 0 auto;*/
	height: 45vh;
	border-radius: 10px;
	opacity: 0.75;
	object-fit: cover;
	filter: blur(1px);	/* animate this transition */
	transition: all 0.25s;
	transition-timing-function: all ease-in-out;
}

img:hover	{
	opacity: 0.85;
	filter: none;
	transform: scale(1.1);
}

/** SIDEBAR LINKS **/

.sidenav a:not(#profile) {
	text-transform: uppercase;
	padding: 5% 25%;
	font-size: 1em;
	color: orange;
	text-align: center;
	display: block;
	transition: all 0.25s;
}

.sidenav a:hover:not(#profile)	{
	color: rgb(32, 32, 32);;
	background-color: orange;
	letter-spacing: 0.3em;
	font-size: 1.1em;
	text-align: center;
}

/** SIDEBAR NAVIGATION **/

.sidenav	{
	height: 100%;
	width: 12em;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	padding: auto;
	background-color: rgb(32, 32, 32);
	overflow-x: hidden;
	padding-top: 20vh;
}

.sidenav img	{
	border-radius: 5%;
	border-color: rgba(125, 95, 60, 0.5);
	height: 120px;
	width: 60%;
	object-fit: cover;
	margin: 0 20% 10%;
	filter: none;
}

/* TOGGLE */
  
/* OTHER */

/*this is main box id*/
  #container .box {
	width: calc(100vw - 192px);
	height: 100vh;
	display:inline-block;
	position:relative;
	overflow-y: scroll;
  }

  #container .box::-webkit-scrollbar {
    display: none;
}
  
  /*this is for text in div class*/
  #container .box > .floating {
	width:100px;
	height:100px;
	font-size: 24px;
	position:absolute;
	margin: 50px 0 0 50px;
	/*margin:10% 0 0 10%;
	line-height:.7;*/
  }

  .content {
	white-space: pre;
	margin-left: 2em;
  }

/*BIG CONTAINER*/
  #container {
	scroll-behavior: smooth;
	overflow:hidden;
	transform: rotate(270deg) translateX(-100%);
	transform-origin: top left;
	background-color:#999;
	position:absolute;
	width:100vh;
	height: -webkit-calc(100vw - 12em);
	height: -moz-calc(100vw - 12em);
	height: calc(100vw - 12em);
	margin-left: 12em;
  }

  /*inside container*/
  #container2 {
	transform: rotate(90deg) translateY(-100vh);
	transform-origin: top left;
	white-space:nowrap;
	font-size:0;
  }
  
  .one {
	background-color: rgb(104, 104, 104);
  }
  .two {
	background-color: rgb(59, 59, 59);
  }
  
  
  /* Translating the content's X ruines the scrollbar length. */
  /*
  #container {
	overflow:scroll;
	transform: rotate(90deg) translateY(-100%);
	transform-origin: top left;
	background-color:#999;
	position:absolute;
	width:100vh;
	height:100vw;
  }
  #container2 {
	transform: rotate(-90deg) translateX(-100vw);
	transform-origin: top left;
	white-space:nowrap;
  }
  */